---
import { markdownify } from "@/lib/utils/textConverter";
import HomapageFeature from "@/layouts/function-components/HomapageFeature";
const { key_features } = Astro.props;
const { title, description, feature_list } = key_features;
---

<section class="section relative">
  <div
    class="container flex flex-col bg-gradient-to-t from-[#e6f6ee]/50 to-[#8bcfad]/50 lg:rounded-3xl p-4 lg:p-16 h-full w-full">
    <div class="row justify-between text-start lg:max-w-[75ch]">
      <div class="mb-6">
        <h2 class="h2 text-black" set:html={markdownify(title)} />
      </div>
      <p class="text-black text-pretty" set:html={markdownify(description)} />
    </div>
    <HomapageFeature feature_list={feature_list} client:load />
  </div>
</section>
