---
import config from "@/config/config.json";
import { Image } from "astro:assets";
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a
  href="/"
  class="navbar-brand block hover:scale-105 transition-transform ease-in-out active:scale-95">
  <Image
    id="logo"
    width={logo_width.replace("px", "") * 2}
    height={logo_height.replace("px", "") * 2}
    src={src ? src : logo}
    alt={title}
    class="w-auto h-14 drop-shadow-sm"
  />
</a>

<style>
  #logo {
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));
  }
</style>
